[submodule "Plugins/HealthBars"]
	path = Plugins/HealthBars
	url = https://github.com/Queuete/HealthBars
[submodule "Plugins/MinimapIcons"]
	path = Plugins/MinimapIcons
	url = https://github.com/Queuete/MinimapIcons
[submodule "Plugins/IconsBuilder"]
	path = Plugins/IconsBuilder
	url = https://github.com/Queuete/IconsBuilder
[submodule "Plugins/DeliriumSpawnerHighlight"]
	path = Plugins/DeliriumSpawnerHighlight
	url = https://github.com/Queuete/DeliriumSpawnerHighlight
[submodule "Plugins/Pickit"]
	path = Plugins/Pickit
	url = https://github.com/Queuete/Pickit
[submodule "Plugins/Stashie"]
	path = Plugins/Stashie
	url = https://github.com/Queuete/Stashie
[submodule "Plugins/BuffUtil"]
	path = Plugins/BuffUtil
	url = https://github.com/Queuete/BuffUtil
[submodule "Plugins/BasicFlaskRoutine"]
	path = Plugins/BasicFlaskRoutine
	url = https://github.com/Queuete/BasicFlaskRoutine
[submodule "Plugins/UnIdy"]
	path = Plugins/UnIdy
	url = https://github.com/Queuete/UnIdy
[submodule "Plugins/AutoQuit"]
	path = Plugins/AutoQuit
	url = https://github.com/Queuete/AutoQuit
[submodule "Plugins/PreloadAlert"]
	path = Plugins/PreloadAlert
	url = https://github.com/Queuete/PreloadAlert
[submodule "Plugins/DevTree"]
	path = Plugins/DevTree
	url = https://github.com/Queuete/DevTree
[submodule "Plugins/SithylisQoL"]
	path = Plugins/SithylisQoL
	url = https://github.com/Queuete/SithylisQoL
[submodule "Plugins/InventoryItemsAnalyzer"]
	path = Plugins/InventoryItemsAnalyzer
	url = https://github.com/Queuete/InventoryItemsAnalyzer
